.my-image {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column nowrap;
    margin-bottom: 10px;
}
.image-ref {
    margin-bottom: 10px;
}

.image-editor {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 10px;
}
.control-panel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
}