.GoodsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 30%;

    border: 0.1em solid black;
    margin-bottom: 2em;
    padding: 1em;
}
.ImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 1;
}
.Image {
    max-width: 80%;
    max-height: 80%;
}
.Name {
    margin: 0;
}