section form {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}
section input[type="text"],
section input[type="email"],
section input[type="password"],
section select {
    width: 15em;
    padding: 4px;
    border: 1px solid black;
    background-color: white;
    outline: none;
}
section label.hint {
    padding: 4px;
    border: 1px solid black;
    outline: none;
}
div.tab-wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
}
#tab-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}
#tab-list button {
    width: 4em;

}
button {
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    transition: 250ms;
}
button:hover {
    background-color: black;
    color: white;
}
#tab-content {
    border: 1px solid black;
    padding: 8px;
    width: 100%;
}
div.sign-in {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column nowrap;
    gap: 8px;
}
div.sign-in * {
    box-sizing: border-box;
}
div.sign-in button {
    width: 15em;
    padding: 4px;
}
img.tooltip {
    width: 4em;
    cursor: pointer;
    position: relative;
}
div.tooltip {
    width: fit-content;
}
div.tooltip::after {
    content: 'Підказка до крутого емодзі';
    position: absolute;
    display: none;
    left: 100px;
    transform: translateY(-200%);
}
div.tooltip:hover::after {
    display: block;
}
div.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
}
div.grid-wrapper > * {
    border: 1px solid black;
    padding: 8px;
}