table {
    border-collapse: collapse;
    border: 0.1em solid black;
    height: auto;
    width: fit-content;
    align-self: stretch;

    aspect-ratio: 1;

}
td {
    border: 0.1em solid black;
    text-align: center;
    transition: 250ms;
    width: 38.2px;
    height: fit-content;
}
#color-picker, #column-color-picker {
    display: none;
}